# Auto detect text files and perform LF normalization
* text=auto

# Focus language stats on Java only
*.java linguist-detectable=true

# Ignore front-end and non-Java files from language stats
*.js linguist-vendored
*.ts linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored
*.xml linguist-vendored
*.properties linguist-vendored

# Ignore folders not related to Java code
/static/** linguist-vendored
/resources/** linguist-vendored
/public/** linguist-vendored
/node_modules/** linguist-vendored
/target/** linguist-vendored
/build/** linguist-vendored
/out/** linguist-vendored