/* Search bar */
.search-bar {
  width: 800px;
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 50px 40px 65px 400px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

}

.search-bar input {
  color: black;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  line-height: 40px;
  font-size: 15px;
}

::placeholder {
  color: rgb(149, 145, 145);
}

/*Search results */
#search-results{
  background-color: white;
  position: absolute;
  top: 174px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: scroll;
  width: 800px;
  max-height: 300px; /* Set the maximum height of the container */
}
#results-list {
  list-style: none;
  padding : 0px 680px 0px 0px ;
  width: 100%;
}
#results-list li{
  border-bottom: 1px solid #c0baba;
  box-sizing: border-box;
  overflow: visible;
  height: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

}
#results-list li a{
  position: relative;
  left : 60px;
  top:23px;

}

#results-list [role="button"]:hover {
  background-color: rgb(245, 242, 242);
}

[role="button"] {
  display: inline-block;
  padding: 2px 5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#results-list img{
  position: relative;
  max-width: 40px;
  max-height: 40px;
  bottom: 0px;
  cursor: pointer;

}

/* Left side */
.left-menu  {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  margin-top: -145px;
  margin-left: 107px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.left-menu a:not(.firstname){
  padding: 15px 0px 0px 15px;
  text-decoration: none;
  color: black;
  transition: background-color 1s ease;
}
.left-menu a:hover:not(.firstname){
  background: #cccccc;
}
.welcomeTitle{
  margin-left: 15px;
  color: #4659bb;
  margin-bottom: -10px;

}
.firstname{
  margin-left:15px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color:black;
  padding: 13px 0px ;
}


/*new payment button*/

.newpayment-button{
  padding : 5px 5px 10px 5px ;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border: 0px solid #ececec;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 400px;
  margin-top: -50px;
  display: inline-block;
}
.newpayment-button img{
  width: 70px;
  height: 80px;
}

.newpayment-button p{
margin : 0 ;
font-size: 13px;
}


table{
  position: relative;
  left: 400px;
  bottom: 120px;
  background: #ffd400 ;
  border-radius: 5px;
}
table a{
  display: block;
  text-decoration: none;
  color: #333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border: 0;
  padding: 10px 20px 10px 20px;
  margin: -2px;
  border-radius: 5px;
}

.summary{
  background-color: white;
  transition: background-color 0.5s ease;

}
.fav{
  background-color: white;
  transition: background-color 0.5s ease;


}
.summary:hover , .fav :hover{
  background: #d3d3d3;
}


.noTransactionList img{
  position: relative;
  left: 700px;
}
.noTransactionList p{
  display: flex;
  justify-content: center;
}



.transactionList{
  color: #333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.transactionList div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  border-bottom: 1px solid #c0baba;
  font-weight: bold;
  background: #f1efef;
}
.transactionList img{
  width: 45px;
  height: 45px;
}
.footer{
  margin: 170px -7px 0px -7px ;
}