h2{
    color: #1b6ca1;
    margin-left: 100px;
    margin-top: 50px;
}
p{
    margin-left: 100px;
    margin-top: 20px;
}

textarea {
    width: 60%;
    height: 200px;
    resize: vertical;
    font-size: 20px;
    margin: 0px 0 40px 100px;
    border: 0;
    border-bottom: 1px solid black;
    opacity: 0.7;
}

textarea:focus{
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
}

.next-button{
    margin-left: 500px;
    margin-bottom: 50px;
}

.category-button{
    cursor: pointer;
    padding: 10px;
    width: 60%;
    margin-left: 100px;
    color : black ;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: white;
    text-align: left;
}
.category-menu{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgba(117,117,117,0.87);
    width: 60%;
    margin-left: 99px;
}
.category-menu a:hover{
    color: #adadad;
    width: 98%;
    background: #eaeaea;
}
.category-menu a{
    text-decoration: none;
    color: #353636;
    padding: 10px;
}

.category-button:focus {
    border-bottom: 2px solid red;
    color: red;
}
span :focus{
    color: red;
}
.next-button :hover{
    background: yellow;
}

.category-menu{
    display: none;
}

span{
    position: relative;
    right: 20px;
    font-size: 10px;
}
.footer{
    margin: -20px   ;
}