.login-button {
    padding: 10px 28px 10px 20px;
    background-color: #196696;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 1300px;
    top: 15px;
    transition: background-color 1s ease;

}
.login-button:hover{
background: #134c70;
}



.arabic-button{
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 1420px;
    top: 25px;
}
.help-button{
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 420px;
    top: 25px;
}