 header {
    height: 10vh;
    z-index: 999;
    background: #1b6ca1;
    margin: -10px -8px  0px  -8px ;
}

header img {
    position: relative;
    left: 180px;
    top:-40px;
    width: 13%;
    height: 205%;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;

}

.footer{
    background-color : #f1efef;
    border-top: 2px solid #eaeaea;
    display: flex;
    align-content: center;
    gap: 250px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20%;
    margin: 400px -10px 0px -10px ;

}

.footer a{
    text-decoration: none;
    color : black ;
}

.footer li:not(.MainTitles) {
    opacity: 0.6;
    list-style: none;
    font-size: 14px;
    padding-bottom: 5px;
}

.MainTitles{
    font-size: 16px !important;
    font-weight: bolder;
    padding-bottom: 15px;
    display: block;
    opacity: 0.7;
}


.login-button {
    padding: 10px 28px 10px 20px;
    background-color: #196696;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 1300px;
    top: 15px;
    transition: background-color 1s ease;

}
.login-button:hover{
background: #134c70;
}



.arabic-button{
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 1420px;
    top: 25px;
}
.help-button{
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 420px;
    top: 25px;
}