.historyForm{
    width:80%;
    height: 250px;
    margin-top: 30px;
    margin-left: 140px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #dddddd;

}
.footer{
    margin-top: 450px;
    margin-right: -10px;
}