.noCreditCardForm{
    background-color: white;
    height: 200px;
    width: 70%;
    margin: 170px 40px 80px 250px;
    border: 0px solid #ececec;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}
.noCreditCardForm p{
    text-align: center;
}
.noCreditCardForm span{
    background: rgb(31, 101, 178); ;
    color : white ;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 6px;
}
.noCreditCardForm img{
    padding-left: 510px;
}

.ccbutton{
    background-color : rgb(255, 212, 2) !important;
    padding: 4px 15px 12px 10px;
    border-radius : 7px;
    text-decoration: none;
    color : black;
    position: absolute;
    bottom: 540px;
    left: 250px;
}

.plus-sign{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 4px;
}

.CreditCardTable {
   padding: 160px 280px 50px 250px;


}

.CreditCardTable p {
    margin-bottom: -10px;
}

.CreditCardTable td{
    margin-right: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    padding: 20px 150px 20px 20px;

}

.CreditCardTable tr td img{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 140px;
    left: 0px;
}

.CreditCardTable tr td p{
    padding-left: 70px;
    font-size: 20px;
    width: 80%;
}

.footer{
    margin: 200px -20px 0 -20px;
}

