/* Header */
header {
    height: 12vh;
    background: #1b6ca1;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}

.logo {
    float: left;
    width: 10vw;
    height: 7vh;
}

header img {
    position: relative;
    top: -8vh;
    left: 0;
    width: 150%;
    height: 400%;
}
.header-buttons {
    display: flex;
    font-size: 19px;
    margin-top: -10px;
    margin-left: 250px;
}

.header-buttons a {
    color: white;
    text-decoration: none;
    padding: 40px 30px 20px 20px;
}
/*table*/
.link-table {
    border-collapse: separate;
    position: absolute;
    left: 100px;
    top: 100px;
}

.link-table td {
    padding: 25px;
}

.link-table a {
    display: block;
    text-decoration: none;
    color: #333;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    padding: 20px 200px 20px 20px;
}

.link-table img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.link-table p {
    margin: 0;
}