/* Header */
header {
    height: 12vh;
    z-index: 999;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: -20px ;
}

header img {
    position: relative;
    top:0px;
    left: 70px;
    width: 50vh;
    height: 13vh;
}
header .pfpImage{
    width: 80px;
    height: 60px;
    position: absolute;
    left: 1220px;
    top: 7px;
    border-radius: 100%;
}
/* Header buttons */
.header-buttons {
    display: flex;
    font-size: 15px;
    margin-left: 430px;
    margin-top: -100px;
    font-weight: bold;
}

.header-buttons a {
    color: #355fb2;
    text-decoration: none;
    padding: 40px 30px 20px 20px;
}

/* Body */
body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*Right side*/
.dropdown-button{
    padding: 10px 28px 10px 20px;
    background-color: white;
    color: #3767c2;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 1300px;
    top: 4px;

}
.dropdown-menu {
    display: none;
    position: absolute;
    top:70px;
    right: 50px;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;  /* Set the direction to column */
    border-radius: 7px;
}

.dropdown-menu a{
    padding: 10px;
    border-bottom: 1px solid transparent;  /* Add a thin line at the bottom of each link */
    text-decoration: none;
    color: #333;
    transition: background-color 1s ease;
}

.dropdown-menu a:hover{
    background: #cccccc;
}


/*the white arrow*/
.fa-solid{
    position: absolute;
    left: 1400px;
    bottom: 685px;
    color: white;
}


/* Footer */
.footer {
    background-color: #363333;
    border-top: 2px solid #eaeaea;
    display: flex;
    align-content: center;
    gap: 100px;
    height: 40%;
    padding-top: 20px;
    padding-bottom: 70px;

}
.bottomFooter {
    text-align: center;
    color: white;
    background: #353636;
    padding: 15px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0px -10px  -10px -10px ;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer li:not(.MainTitles) {
    opacity: 0.6;
    list-style: none;
    font-size: 14px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.MainTitles {
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 15px;
    opacity: 0.7;
    list-style: none;
    color: white;
    margin-left: 10px;
}


.social-media {
  position: relative;
  right: 180px;
  top:40px;
}
.twitter{
    width: 33px;
    height: 33px;
    margin-top: 4px;
}
.fb{
    width: 45px;
    height: 37px;
    margin-left: -5px;
}
.insta{
    width: 35px;
    height: 35px;
    margin-left: -10px;
}

/*step line*/
.step{
    position: absolute;
    left: 100px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 22px;
    color : #1751c4;

}
.step span{
    color: #8e8f90;
    font-weight: lighter;
}

.back-button , .next-button , .save{
    padding : 10px 70px 10px 70px ;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    border: 0px solid #ececec;
    text-align: center;
    text-decoration: none;
    color: #1b6ca1;
    display: inline-block;
    transition:background-color 0.3s ease;
    border-radius: 3px;

}
.back-button{
    background: #d2cece;
}
.next-button , .save{
background: rgb(255, 212, 2) !important;
transition: background-color 1s ease;
    cursor: pointer;

}



/*web site text fields */

.txt_field{
    position: absolute;
    border-bottom: 2px solid #adadad;
    right: 300px;
    top:318px;
    width: 25%;
}

.txt_field input{
    height: 15px;
    font-size: 16px;
    width: 400px;
    margin-right: -380px;
    border: none;
    background: none;
    outline: none;

}
.txt_field label{
    position: absolute;
    top: 70%;
    left: 5px;
    color: #adadad;
    transform: translateY(-70%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 17px;
    left: 0;
    height: 2px;
    transition: .5s;

}
.txt_field input:focus ~ label,
.txt_field input.valid ~ label{
    top: -5px;
}
.txt_field input:focus ~ span::before,
.txt_field input.valid ~ span::before{
    width: 100%;
}


