h1{
    color: #527fef;
    margin-left: 145px;
    margin-top: 60px;

}

.writings span{
    background: #ffd4007a;
    color: #3159b2;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
    border-radius: 5px;
}
.writings p{
    margin-left: 150px;

}
.footer{
   margin: 0 -20px;
}
.next-button{
    margin: 200px 0px 50px 700px;
}


.cardName-error ,
.cardNumber-error ,
.CVV-error  ,
.month-error ,
.year-error
{
    position: absolute;
    top : 20px;
    left: 0px;
    font-size: 13px;
    padding-right: 100px;
    color:red;
    white-space: nowrap;

}

#ccname {
    top: 380px;
    left: 150px;
    width: 15%;
}

#expirymonth {
    top: 450px;
    left: 150px;
    width: 8%;

}

#expiryyear {
    top: 450px;
    left: 300px;
    width: 8%;

}

#cvv {
    top: 450px;
    left: 470px;
    width: 5%;
}
#cardNumber{
    top: 380px;
    left: 500px;
    width: 15%;
}